root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[**.py]
indent_size = 4

[octoprint_mqtt/static/js/**.js]
indent_size = 4

[octoprint_mqtt/templates/**.jinja2]
indent_size = 4
